.Listings {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.Listings .FilterBar {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
}

.Listings .Grid {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}
